*.pyc
*.swp
local_settings.py
.idea
*.db
.DS_Store
*.vim
/.settings
/.externalToolBuilders
/.project
/.pydevproject
/activity_stream
/threadedcomments
/.metadata
.Python
.gitignore_global
bin/
include/
!lib/goodreads.py
lib/
.buildpath
activity_stream
threadedcomments
/.metadata
