
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">

	<title>{% block title %}Apply for SPACES{% endblock %}</title>
	<link rel="stylesheet" href="/inc/spaces.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/inc/highslide.css" type="text/css" media="screen" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="/inc/spaces.js"></script>
    <script type="text/javascript" src="/inc/highslide-full.js"></script>
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="highslide/highslide-ie6.css" />
    <![endif]-->
	<meta name='robots' content='noindex,nofollow' />    
    
</head>
<body>
{% block header %}
	<div id="header">
		<a href="/" title="Home" class="image"><img src="http://www.spacesgallery.org/i/spaces_logo.gif" height="50" width="123" alt="Home" /></a>
	</div>
{% endblock header %}
<div id="wrapper">
	<div id="container">
{% block content %}
        <div id="nav" class="grid_2 alpha">
{% block nav %}
            <h2>I would like to:</h2>
            <ul>
                <li><a href="">Submit a new application</a></li>
                <li><a href="">Modify my application</a></li>
                <li><a href="">Delete my application</a></li>
                <li><a href="">View my application</a></li>
                <li><a href="">Exit</a></li>
            </ul>
{% endblock nav %}
        </div>
        {% endblock content %}
	</div>
</div>
</body> 
</html>
