{% extends "_base.html" %}

{% block title %}Select a program{% endblock %}

{% block content %}
        <div id="nav" class="grid_2 alpha">
{% block nav %}
            <h2>I would like to:</h2>
            <ul>
                <li><a href="">Apply for R&D</a></li>
                <li><a href="">Apply for SWAP</a></li> <!-- can you make it so like which one they pick is the first like variable or piece of data we collect? -->
            </ul><!-- i need to edit the css to add some margin-bottom -->
<h4>Been here before?</h4>
<a href="">Login È</a>
{% endblock nav %}
        </div>
{% endblock %}