{% extends "_base.html" %}

{% block title %}Getting Started{% endblock %}

{% block content %}
<form action="/account/createAccount" method="post">
          <ul class="errors">          
                    </ul>

          <h2>Sign Up</h2>        
          <ul>
            <li><input type="text" name="user_name" placeholder="username" /></li>
            <li><input type="text" name="user_email" placeholder="email" /></li>
            <li><input type="radio" name="program" value="rd" />R&D</li>
			<li><input type="radio" name="program" value="swap" />SWAP</li>
            <li><button type="submit">Create Account</button></li>
          </ul>
        </form>
<h4>Been here before?</h4>
<a href="">Login</a>
{% endblock %}