{% extends "_base.html" %}

{% block content %}
<form action="/account/createAccount" method="post">
          <ul class="errors">          
                    </ul>
<!-- you come here from a link from http://www.spacesgallery.org/artists/apply/rd or http://www.spacesgallery.org/artists/apply/swap those pages have all the intro and explanations and rules -->
          <h2>Get started</h2>        
          <ul>
            <li><input type="text" name="user_name" placeholder="username" /></li>
            <li><input type="text" name="user_email" placeholder="email" /></li>
            <li><input type="radio" name="program" value="rd" />R&D</li>
			<li><input type="radio" name="program" value="swap" />SWAP</li>
            <li><button type="submit">Create Account</button></li>
          </ul>
        </form>
<h4>Been here before?</h4>
<a href="">Login</a>
{% endblock %}