{% extends "_base.html" %}

{% block content %}
<script type="text/javascript">
	hs.outlineType = 'rounded-white';
	hs.showCredits = false;
	hs.wrapperClassName = 'draggable-header';
	// Add the simple close button
	hs.registerOverlay({
		html: '<div class="closebutton" onclick="return hs.close(this)" title="Close"></div>',
		position: 'top right',
		fade: 2 // fading the semi-transparent overlay looks bad in IE
	});
</script>
		<h1>{{ program }}</h1> <!-- add margin-top in css -->
        <p>Please fill out the form completely. All fields marked with an asterisk* are required. Please observe all English grammar and capitalization rules&mdash;in other words, don't enter information as if you were texting your BFF.</p>
        {% block form %}
        <form action="/contact/" method=post enctype="multipart/form-data">
		{{ form.non_field_errors }}
            <h2>Name</h2>
            <div class="grid_6 alpha">
            {{ form.firstname.errors }}
                <label for="first">First:</label>
                {{ form.firstname }}
            </div>
            <div class="grid_6 omega">
            {{ form.lastname.errors }}
                <label for ="last">* Last:</label>
                {{ form.lastname }}
                <span class="caption">(If applying as a collective, or a single-named artist, enter that name here and leave the "First" field blank)</span>
            </div><div class="clear"></div>
            <h2>Contact Information</h2>
            <div class="grid_12 alpha omega">
            {{ form.street.errors }}
                <label for="street">* Street:</label>
                {{ form.street }}
            </div>
            <div class="grid_4 alpha">
            {{ form.city.errors }}
                <label for ="city">* City:</label>
                {{ form.city }}
            </div>
            <div class="grid_2">
            {{ form.state.errors }}
                <label for="state">* State:</label>
                {{ form.state }}
            </div>
            <div class="grid_3">
            {{ form.zip.errors }}
                <label for="zip">* Zip:</label>
                {{ form.zip }}
            </div>
            <div class="grid_3 omega">
            {{ form.country.errors }}
                <label for="country">Country:</label>
                {{ form.country }}
            </div>
            <div class="grid_4 alpha">
            {{ form.phone1.errors }}
                <label for="phone1">* Primary Phone:</label>
                {{ form.phone1 }}
            </div>
            <div class="grid_4">
            {{ form.phone2.errors }}
                <label for="phone2">Secondary Phone:</label>
                {{ form.phone2 }}
            </div>
            <div class="grid_4 omega">
            {{ form.email.errors }}
                <label for="email">* Email:</label>
                {{ form.email }}
            </div><div class="clear"></div>
            <h2>Other Information</h2>
            <div class="grid_12 alpha omega">
			{{ form.website.errors }}
                <label for="website">Website: [ <a href="#" onclick="return hs.htmlExpand(this, { headingText: 'Website' })">?</a>
        		<span class="highslide-maincontent">Only enter a portfolio website here or a site that is indicative of your art practice. We don't need to see your vacation photos on your family blog.<br /><br /><strong>Be sure to include the http://</strong><br /><br /><a href="#" onclick="return hs.close(this)">Close (esc)</a></span> ]</label>
                {{ form.website }}
            </div><div class="clear"></div>
            <div class="grid_6 alpha">
			{{ form.artist_statement.errors }}
                <label for="artist_statement">* Artist Statement (Remaining characters: <span id="limitOne">950</span>): [ <a href="#" onclick="return hs.htmlExpand(this, { headingText: 'Artist Statement' })">?</a>
        		<span class="highslide-maincontent">This statement should address your general practice and be very specific. Please refrain from using well-worn art-speak&mdash;we can all use a break from that. This is also not a project proposal, so please don't talk about what work you would like to make as part of SPACELab.<br /><br /><a href="#" onclick="return hs.close(this)">Close (esc)</a></span> ]</label>
               {{ form.artist_statement }}
            </div>
            <div class="grid_6 omega">
            {{ form.program_statement.errors }}
                <label for="program_statement">* {{ program }} Statement (Remaining characters: <span id="limitTwo">950</span>): [ <a href="#" onclick="return hs.htmlExpand(this, { headingText: 'SPACELab Statement' })">?</a>
        		<span class="highslide-maincontent">This statement should address specifically why you would like to participate in SPACELab. This is not a project proposal, so please don't talk about what work you would like to make as part of SPACELab.<br /><br /><a href="#" onclick="return hs.close(this)">Close (esc)</a></span> ]</label>
                {{ form.program_statement }} 
            </div>
            <div class="grid_12 alpha omega">
            {{ form.referral.errors }}
                <label for="referral">How did you hear about us?</label>
                {{ form.referral }}
            </div>               
            <input type="submit" name="upload" value="Next" title="Click to add artwork"> 
        {% endblock form %}
        </form>
       	<p><a href="/apply/spacelab">&larr; Return to Main Menu</a></p>
        <p>Questions or problems? Call 216.621.2314 or email <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#115;&#105;&#109;&#109;&#111;&#110;&#115;&#64;&#115;&#112;&#97;&#99;&#101;&#115;&#103;&#97;&#108;&#108;&#101;&#114;&#121;&#46;&#111;&#114;&#103;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#81;&#117;&#101;&#115;&#116;&#105;&#111;&#110;&#32;&#97;&#98;&#111;&#117;&#116;&#32;&#116;&#104;&#101;&#32;&#111;&#110;&#108;&#105;&#110;&#101;&#32;&#97;&#112;&#112;&#108;&#105;&#99;&#97;&#116;&#105;&#111;&#110;&#32;&#102;&#111;&#114;&#109;">&#109;&#115;&#105;&#109;&#109;&#111;&#110;&#115;&#64;&#115;&#112;&#97;&#99;&#101;&#115;&#103;&#97;&#108;&#108;&#101;&#114;&#121;&#46;&#111;&#114;&#103;</a></p>
{% endblock content %}