{% extends 'ebooks/_base.html' %}
{% block body_class %} class="page-view"{% endblock %}

{% block content %}
    <div class="book-sidebar">
        <img src="/images/blank-avatar.png" style="width: 128px">
    </div>
    <div class="book-main">
        <h1>{{ user.username }}</h1>
        
        {% if can_edit %}
        <h2 class="sub-title">Checkin Books</h2>
        <ul>
            {% for checkout in current_checkouts %}
                <li><a href="{% url book_checkout checkout.key %}">{{checkout.title}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <h2 class="sub-title">Checkout History</h2>
        <ul style="list-style-type: none">
            {% for checkout in checkout_history %}
            <li style="float: left; margin-bottom: 15px">
                <a href="{% url book_info checkout.book.slug %}">
                {% if book.cover %}
					<img src="{{ checkout.book.cover.url }}" width="70" />
				{% else %}
					<img src="/images/book-no-cover.png" width="70" />
				{% endif %}
				</a>
			</li>
            {% endfor %}
        </ul>    

    </div>
{% endblock %}