<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex, nofollow">
<title>{% block title %}{% endblock %} | {{ site.name }}</title>
<link href="{% url ebooks.views.latest_books_rss %}" rel="alternate" type="application/rss+xml" title="Q Latest Books" />

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href="/css/styles.css" rel="stylesheet" type="text/css" media="all" />
<link href="/font/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>


        <script type="text/javascript">
   $(document).ready(function(){
        $('a.close').click(function(){
            $(this).parent().fadeOut('slow');
        });
        $('a.close2').click(function(){
            $(this).parent().fadeOut(100);
            $(".toogPan").css('clear', 'left');
            $(".toogPan").animate({width: "680px"}, {duration: 1000});
        });
})
  </script>
{% block extra_javascript %}{% endblock %}

<script type="text/javascript" charset="utf-8" src="/javascript/slides.min.jquery.js"></script>

</head>

<body id="inner">
<div id="top_nav">
<ul>
  <li><a href="http://bugs.twi.gs/issues/Q/">report a problem</a></li>
  <li><a href="http://git.twi.gs/q/">get the code</a></li>
  <li><a href="{% url logout %}">logout</a></li>
  <li><label>Search:</label><input type="text"/></li>
</ul>
</div>
<div class="left">
	
  <h1><a href="{% url index %}"></a></h1>
  <div class="welcome">Welcome<br/><a href="{% url accounts:view_user user.username %}">{{ user.username }}</a></div>
  <ul id="menu">
    {% if request.user.is_superuser %}
    <li><a href="{% url activity_stream %}">global activity stream</a></li>
    <li><a href="{% url accounts:list %}">list users</a></li>
    {% endif %}
    {% if request.user.get_profile.is_librarian or request.user.is_superuser %}
    <li><a href="{% url add_book %}">add book</a></li>
    {% endif %}
    <li><a href="forms.html">browse</a></li>
	<li><a href="http://bugs.twi.gs/issues/Q/">report a problem</a></li>
	<li><a href="http://git.twi.gs/q/">get the code</a></li>
	<li><a href="{% url logout %}">logout</a></li>
  </ul>
  <div class="push"></div>
</div>
<div class="right">
  <div class="rshadow">
    <div class="head">
        <p>
			<label>Search:</label>
			<input type="text"/>
		</p>
    </div>
    <div class="qright">
    {% block content %}{% endblock %}

    </div>
    <div class="push"></div>
  </div>
</div>
</body>
</html>
