<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Federo|Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/javascript/libs/modernizr-2.5.2.min.js"></script>
  {% block extra_javascript %}
  {% endblock %}
  
  <script data-main="/javascript/main.js" src="/javascript/libs/require.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <a href="" id="logo">Q<sup>12</sup></a>
    <ul>
      <li><a href="{% url accounts:view_user user.username %}">{{ user.username }}</a></li>
      <li id="notifications">2</li>
    </ul>
  </header>
  <div role="main">
    <nav id="right_nav">
      <ul>
        <li><a class="active" href="">Activity Stream</a></li>
        {% if request.user.is_superuser %}
        <li><a href="{% url books:activity_stream %}">All activity</a></li>
        <li><a href="{% url accounts:list %}">list users</a></li>
        {% endif %}
        {% if request.user.get_profile.is_librarian or request.user.is_superuser %}
        <li><a href="/#{% url books:add_book %}">add book</a></a>
        {% endif %}
        <li><a href="http://bugs.twi.gs/issues/Q/">report a problem</a></li>
        <li><a href="http://git.twi.gs/q/">get the code</a></li>
      <ul>
    </nav>
    <section id="center_content">
      <div class="inner">
      {% block content %}
        <h2>Activity Stream</h2>
        <ul>
 
        </ul>
      {% endblock %}
      </div>
    </section>
    <aside id="left_aside">
      <ul id="recent_books">

      </ul
    </aside>
  </div>
  <footer>
  </footer>


  <script src="/javascript/plugins.js"></script>
  <script src="/javascript/script.js"></script>

  <script>
    // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    // s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
