{% extends '_base.html' %}
{% load gravatar %}
{% load activity_tags %}
{% block title %}{{ view_user.username }}'s profile{% endblock %}
{% block body_class %} class="page-view dashboard"{% endblock %}

{% block content %}

    <div class="book-sidebar">
        {% if view_user.first_name %}
        <h1>{{ view_user.first_name }}</h1>
        {% else %}
        <h1>{{ view_user.username }}</h1>
        {% endif %}
    
		{% gravatar view_user 160 %}

        {% if request.user.username == view_user.username %}
            <div><a href="{% url accounts:edit_profile request.user.username%}">EDIT PROFILE</a></div>
        {% endif %}

        books uploaded: {{ view_user.get_profile.uploaded_books_count }}

    </div>
    <div class="book-main">
         <h2 class="section-title">Recent Activity</h2>
         <ul id="activity-stream">
             {% for action in activity_items %}
        <li>{% display_action action %}</li>
             {% endfor %}
        </ul>

		<h2 class="section-title">Books I've Read</h2>
			<ul class="checkout-history">
	            {% for book in books_read %}
	            <li>
	                <a href="{% url book_info book.slug %}">
	                {% if book.cover_url %}
						<img src="{{ book.cover_url }}" height="100" alt="{{ book.title }}" title="{{ book.title }}" />
					{% else %}
						<img src="/images/book-no-cover.png" height="100" alt="{{ book.title }}" title="{{ book.title }}" />
					{% endif %}
					</a>
				</li>
	            {% endfor %}
	        </ul>

        <h2 class="section-title">Books Owned</h2>
        {% if books_owned %}
        <ul class="checkout-history">
            {% for book in books_owned %}
            <li>
                <a href="{% url book_info book.slug %}">
                {% if book.cover_url %}
					<img src="{{ book.cover_url }}" height="100" alt="{{ book.title }}" title="{{ book.title }}" />
				{% else %}
					<img src="/images/book-no-cover.png" height="100" alt="{{ book.title }}" title="{{ book.title }}" />
				{% endif %}
				</a>
            </li>
            {% endfor %}
        </ul>
		{% else %}
			<p>{{ view_user.username }} doesn't own any books.</p>
        {% endif %}
    </div>
{% endblock %}
