{% extends '_base.html' %}
{% load gravatar %}

{% block title %}Account /  Password{% endblock %}

{% block content %}
<div class="book-sidebar">
		{% gravatar request.user 160 %}
        <div>change at <a href="http://www.gravatar.com">gravatar.com</a></div>
</div>
<div class="book-main">
	
	{% include "accounts/_account_navigation.html" %}
	 <h2 class="section-title">Change Your Password</h2>
	<form action="" method="post">
		<ul>
			{{ form.as_ul }}
			<li>{% csrf_token %} <input type="submit" /></li>
		</ul>
	</form>
</div>
{% endblock %}
