{% extends 'ebooks/_base.html' %}
{% load gravatar %}

{% block title %}edit profile{% endblock %}

{% block content %}


<div class="book-sidebar">
		{% gravatar view_user 160 %}
        <div>change at <a href="http://www.gravatar.com">gravatar.com</a></div>

    </div>
<div class="book-main">
	{% include "accounts/_account_navigation.html" %}
    
    <h2 class="section-title">Edit Your Profile</h2>
    <form action="" method="post">
        <ul>
            {{ profile_form.as_ul }}
            <li><input type="submit" name="submit" value="Update Profile"/></li>
        </ul>
        {% csrf_token %}
    </form>
    </div>
{% endblock %}
