{% extends '_base.html' %}
{% load gravatar %}

{% block title %}Account / Invitations{% endblock %}

{% block content %}
<div class="book-sidebar">
		{% gravatar request.user 160 %}
        <div>change at <a href="http://www.gravatar.com">gravatar.com</a></div>
</div>
<div class="book-main">

	{% include "accounts/_account_navigation.html" %}
	
	{% if user.is_staff %}
	<h2 class="section-title">Invitation Distribution</h2>
	<form action="" method="POST">
		<ul>
		{{ invite_distribution_form.as_ul }}
		<li>{% csrf_token %}<input type="submit" name="submit" value="distribute" /></li>
		</ul>
	</form>
	</p>
	{% endif %}
	 <h2 class="section-title">Invite Your Friends</h2> 
	{% if user.get_profile.available_invites %}
	<p>You have {{ user.get_profile.available_invites }} invitation{{ user.get_profile.available_invites|pluralize }}</p>
	<p>Resist the urge to send invites to folks who suck.</p>
	<form action="" method="POST">
		<ul>
			{{ form.as_ul }}
			<li>{% csrf_token %}<input name="submit" value="invite" type="submit" /></li>
		</ul>
	</form>
	
	{% else %}
		<p style="text-align: center"><em>No invitations right now.</em></p>
	{% endif %}
	
	{% if invitations %}
	 <h2 class="section-title">Invitation History</h2>
	<table id="invite-history" width="100%">
		<tr>
			<th>KEY</th>
            <th style="text-align: center">SENT TO</th>
			<th style="text-align: center">TAKEN BY</th>
		</tr>
	{% for invite in invitations %}
		<tr>
			<td>
                {% if  invite.registrant %}
                {{ invite.key }}
                {% else %}<a href="{% url invitation_invited invite.key %}">{{ invite.key }}</a>{% endif %}</td>
            <td style="text-align: center">{{ invite.sent_to }} &lt;{{ invite.emailed_to }}&gt;</td>
			<td style="text-align: center">
			{% if  invite.registrant %}
			<a href="{% url accounts:view_user invite.registrant %}">@{{ invite.registrant.username }}</a>
			{% else %} - {% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}
