{% extends 'ebooks/_base.html' %}

{% block title %}add book{% endblock %}

{% block content %}
        <div class="content">
            <form method="post">{% csrf_token %}
        <p>
            <label for="id_isbn">ISBN:</label>
            <input type="text" name="isbn" id="id_isbn" value="{{ book.isbn13 }}" />
            <p>
                <input type="submit" value="Search" class="submit-large" />
            </p>
        </p>
    </form>
        <hr>
		<h3>Add a Book</h3>
		
		<div class="book-sidebar">
			<figure class="cover">
	        {% if book.cover %}
	            <img src="{{ book.cover.url }}" width="160" />
	        {% else %}
	            <img src="{{ form_data.cover_url }}" width="160" />
	        {% endif %}
			</figure>
		</div>

		<div class="book-main">
        <form method="PUT">
                <ul class="forms">
		        {{ book_form.as_ul }}
				</ul>
				<hr />

                {% if book.temp_cover_url %}
				<input type="hidden" name="cover_url" value="{{ book.temp_cover_url }}" />
                {% endif %}
                {% csrf_token %}
				<p>
					<button>Add {{ book.title }}</button>
				</p>
	        </form>
		</div>
  </div>
{% endblock %}

{% block rail %}
	<h1>Search </h2>

{% endblock %}