{% extends '_base.html' %}

{% block title %}add book{% endblock %}

{% block body_class %} class="page-view add-view dashboard"{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript">
    define(["jquery", "backbone-tastypie-0.1"], function($){
        require(["models/Book"], function($) {


        });

        $("#form_search_book").bind("submit", function(event) {
            var book = new Book();
            book.search_goodreads($("#id_isbn").val());
            return false;
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <form method="POST" id="form_search_book">{% csrf_token %}
            <p>
                <label for="id_isbn">ISBN:</label>
                <input type="text" name="isbn" id="id_isbn" value="{{ book.isbn }}" />
                <input type="submit" value="Search" class="submit-large" /><img src="/images/loading.gif">
            </p>
        </form>


        <div class="book-main">
            {% if book_form.cover_url.value %}
                <img src="{{ book_form.cover_url.value }}">
            {% endif %}
            <form method="POST" id="form_add_book">
            <ul class="forms">
                {{ book_form.as_ul }}
            </ul>
            <hr />

            {% if book.temp_cover_url %}
                <input type="hidden" name="cover_url" value="{{ book.temp_cover_url }}" />
            {% endif %}
            {% csrf_token %}
            <p>
                <button id="btn_add_book">Add {{ book.title }}</button>
            </p>
            </form>
        </div>
   </div>
{% endblock %}

{% block rail %}
    <h1>Search </h1>
{% endblock %}