body {
	background-image: url(../img/bg.jpg);
}
@media(min-width:980px) {
  body {
    padding-top: 60px;
  }
}
input.search-library {
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}
.bold {
	font-weight: bold;
}
.pagination {
	margin: 10px 0;
}
.pagination a {
	border: none;
}
h1 {
	text-shadow: #333 2px 2px 4px;
	margin-bottom: 25px;
}
h1, h2, h3 {
	font-family: 'Duru Sans', sans-serif;
}
h3 [class^="icon-"], [class*=" icon-"] {
 margin-top:4px;
}
.estante {
	background-repeat: repeat-y;
}
.estante .thumbnail {
	border: none;
}
 @media (max-width: 768px) {
.estante {
	background-image: url(../img/bg2c.png);
	background-position: 0px -23px;
}
.estante li {
	margin-bottom: 42px;
	margin-left: 66px;
}
}
@media (min-width: 768px) {
.estante {
	background-image: url(../img/bg2b.png);
	background-position: 10px 2px;
	background-size: 99%;
}
.estante li {
	margin-bottom: 16px;
	margin-left: 66px;
}
}
@media (min-width: 979px) {
.estante {
	background-image: url(../img/bg2.png);
	background-position: 10px 2px;
	background-size: 100%;
}
.estante li {
	margin-bottom: 19px;
	margin-left: 45px;
}
}
@media (min-width: 1200px) {
.estante {
	background-image: url(../img/bg2.png);
	background-position: 10px 0px;
}
.estante li {
	margin-bottom: 29px;
	margin-left: 28px;
}
}
.footer {
	margin-top: 0;
}
.footer-inner {
	padding: 15px 0;
	font-size: 12px;
	color: #333;
	text-align: center;
}
.footer a {
	color: #333;
}
.footer a:hover {
	color: #CCC;
	text-shadow: #FFF 0px 0px 20px;
	text-decoration: none;
}
.breadcrumb {
	background: none;
	border: none;
	box-shadow: none;
}
.breadcrumb li {
	text-shadow: 1px 1px 3px #CCC;
}

.book-formats a {
  color:#8AB833;
  text-decoration: underline;
}

.book-formats i {
  color:#8AB833;
}