{% load gravatar %}

<div class="activity-checkin">
    <div class="activity-ico"></div>
    <div class="activity-avatar" style="float: left">{% gravatar activity_item.actor 35 %}</div>
    <div class="activity-details">
        {{ activity_item.created_at }}<br/>
    	<a href="{% url accounts:view_user activity_item.actor.username %}">
    		{{ activity_item.actor.username }}
    	</a> 
        sent
    	<a href="{% url "book_info" activity_item.first_subject.content_object.slug %}">
    	    {{ activity_item.first_subject.content_object.title }}
    	</a>
        to their <strong>kindle</strong>.
    </div>
</div>