{% extends 'ebooks/_base.html' %}

{% block body_class %} class="page-view"{% endblock %}
{% block content %}
	{% if book %}
		<div class="book-sidebar">
			<figure class="cover">
				{% if book.cover %}
					<img src="{{ book.cover.url }}" width="160" />
				{% else %}
					<img src="/images/book-no-cover.png" width="160" />
				{% endif %}
				<div class="overlay"></div>
			</figure>
			<h2 class="section-title">Formats</h2>
			<ul class="formats">
				{% for format in book.formats %}
					<li><a href="{{ format.ebook_file.url }}">{{ format.format }}</a></li>
                    {% if format.format == 'mobi' and request.user.get_profile.kindle_email %}
                    <li><a href="{% url email_kindle book.id %}">email to kindle</a></li>
                    {% endif %}
				{% endfor %}
			</ul>
			
			{% if book.is_physical %}
		        {% for owner in book.owners.all %}
		            {{ owner }}<br>
		        {% endfor %}

				<h2 class="section-title">Check Out</h2>
				{% if book.checked_out %}
					<p>
					    <div style="border: 1px solid #dedede; height: 35px; width: 35px; float: left; margin-left: 15px">
					       <a href="{% url view_user book.checked_out.username  %}" style="border: none">
					           <img src="/images/blank-avatar.png" style="height: 35px; width: 35px;" />
					       </a>
					    </div>
					    <div style=" float: left; margin-left: 10px">
					        <a href="{% url view_user book.checked_out.username  %}">{{ book.checked_out.username }}</a> has it, <br /> ask him for it.
					    </div>
					</p>
				{% else %}
					<div class="qr-code"><a href="{% url book_checkout book.key %}">{{ book.show_qr_code|safe }}</a></div>
				{% endif %}
			{% endif %}
		</div>

		<div class="book-main">
			<p class="series-info"><a href="">Series Title:</a> Book 3</p>
			<hr />

	        <h1>{{ book.title }}</h1>
			
			<ul class="byline">
				<li class="title">written by:</li>
            {% for author in book.authors.all %}
                <li>{{ author }}</li>
            {% endfor %}
			</ul>

			<br />
			<h2 class="sub-title">Description:</h2>
			<p>{{ book.description|safe }}</p>

			<h2 class="sub-title">What people are saying:</h2>

			<h2 class="sub-title">Related Books:</h2>

			<h2 class="sub-title">Tags:</h2>
		</div>
	{% endif %}
{% endblock %}

{% block rail %}
	<h2 class="section-title" style="clear:both">Check Out History</h2>
	<ul>
	{% for checkout in checkouts %}
	    <li style="overflow: hidden; border-bottom: 1px dotted #dedede; padding: 5px 0; margin: 0 ">
    	    <div style="border: 1px solid #dedede; height: 35px; width: 35px; float: left; margin-left: 15px">
    	       <a href="{% url view_user checkout.user.username %}" style="border: none">
    	           <img src="/images/blank-avatar.png" style="height: 35px; width: 35px;" />
    	       </a>
    	    </div>
    	    <div style=" float: left; margin-left: 10px">
    	        <a href="{% url view_user checkout.user.username  %}">
    	            {{ checkout.user.username }}
    	        </a>
    	        checked it out<br /> on <em>{{ checkout.create_time|date:"F j, Y" }}.</em>
    	    </div>
	    </li>
	{% endfor %}
    </ul>

{% endblock %}

