{% extends 'ebooks/_base.html' %}

{% block body_class %} class="page-view dashboard"{% endblock %}

{% block content %}
<div class="book-sidebar">
	<h1>Book Checkout</h2>
</div>

<div class="book-main">
	<h2 class="section-title">{{ ownership }}</h2>
	{% if request.user == ownership.user %}
	    <form action="" method="POST">
		<p>
	    {% if ownership.checked_out == None %}
	        {{ checkout_form.as_p }}
	        <input type="submit" name="submit" value="Checkout" />
	    {% endif %}

	    {% if ownership.checked_out != None %}
	        Checkin from: {{ ownership.checked_out.user.username }}
	        <input type="submit" name="submit" value="Checkin" />
	    {% endif %}
		</p>
	    </form>
	{% endif %}
</div>
{% endblock %}
