<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{{ STATIC_URL }}jquery.min.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}fontawesome/css/font-awesome.css">

  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">


  <style type="text/css">
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
  </style>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">q</a>

              <div class="btn-group pull-right">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-user"></i> {{ request.user.username }}
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="{% url accounts:edit_profile request.user.username%}">Edit Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="/admin/list-plugins/">Administration</a></li>
                      <li><a href="{% url logout %}">Sign Out</a></li>
                  </ul>
              </div>



              <div class="nav-collapse">
                  <ul class="nav">
                      <li class=""><a href="/about/">Browse</a></li>
                      <li class=""><a href="/about/">Discover</a></li>
                      <li class=""><a href="{% url books:add_book %}">Add</a></li>
                      <li class=""><a href="/about/">About</a></li>

                  </ul>
              </div><!--/.nav-collapse -->
          </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row-fluid">
          {% block content %}{% endblock %}
      </div>
  </div>

  {% block below_footer %}

  {% endblock %}
  <script>
      // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      // s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
