<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="robots" content="noindex, nofollow">

	<title>{% block title %}{% endblock %} | {{ site.name }}</title>

	<link href="{% url ebooks.views.latest_books_rss %}" rel="alternate" type="application/rss+xml" title="Q Latest Books" />

	<link href="/css/master.css" rel="stylesheet" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="/javascript/yetii-min.js"></script>
	<script src="/javascript/kinderhook.js"></script>
	{% block extra_javascript %}{% endblock %}
</head>
<body{% block body_class %}{% endblock %}>

		<header class="main"> 
			<div class="body-width">
				<h1 id="logo"><a href="{% url index %}">{{ site.name }}</a></h1>
                <h3 id="logo">{{ book_count }} books ready for download</h3>

				<ul id="main-account-details">
					<li>logged in as: <a href="{% url view_user user.username %}">{{ user }}</a></li>
                    {% if request.user.get_profile.is_librarian %}
                    <li><a href="{% url add_book %}">add book</a></li>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <li><a href="{% url activity_stream %}">activity stream</a></li>
                    {% endif %}
					<li><a href="{% url logout %}">logout</a></li>
				</ul>
			</div>
		</header>
        <section id="messages">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
		<section id="global-search">
			<div class="body-width wrap">
				<form action="{% url ebooks.views.index %}" method="get" class="search">
					<label for="search">Search:</label>
					<div class="search-outline">
						<input type="text" name="q" value="{{ request.GET.q }}" class="input-text">
						<input type="submit" name="search-submit" class="input-submit" value="Submit" />
					</div>
				</form>

				<div id="sort-alphabet">
					<h3 class="title">Alphabetically by&nbsp;</h3>
					<ul id="sort-alphabet-nav">
						<li><a href="#sort-author">Author</a></li>
						<li><a href="#sort-title">Title</a></li>
					</ul>
					<ul class="tab" id="sort-author">
						{% for char in "abcdefghijklmnopqrstuvwxyz" %}
					    <li><a href="{% url ebooks.views.books_by_type "author" char %}">{{ char }}</a></li>
						{% endfor %}
					</ul>

					<ul class="tab" id="sort-title">
						{% for char in "abcdefghijklmnopqrstuvwxyz" %}
					    <li><a href="{% url ebooks.views.books_by_type "title" char %}">{{ char }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>

		<div class="body-width">
			<section id="content">
				{% block content %}{% endblock %}
			</section>

			<aside id="rail">
				{% block rail %}
					{% comment %}
					<h2 class="section-title">Most Popular</h2>
					<h2 class="section-title">Recent Comments</h2>
					{% endcomment %}
				{% endblock %}
			</aside>
		</div>

		<footer class="main body-width">
			<hr />
			<p>&copy; 2012 iBlameScott</p>
		</footer>

<script type="text/javascript">
var alphabetSort = new Yetii({ id: 'sort-alphabet', persist: true });
</script>
</body>
</html>
