{% extends '_base.html' %}
{% load activity_tags %}

{% block title %}activity stream{% endblock %}

{% block body_class %} class="home"{% endblock %}

{% block content %}
<div id="activity-stream">
	<br clear="all"/>
	<h3 class="section-title">Recent Activity</h3>
    <ul>
    {% for activity_item in page.object_list %}
        <li>{% display_action activity_item %}</li>
    {% endfor %}
    </ul>

    {% if page.has_previous %}
        <a href="{% url activity_stream %}?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}
    {{ page }}
    {% if page.has_next %}
        <a href="{% url books:activity_stream %}?page={{ page.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}
