{% extends 'ebooks/_base.html' %}
{% load activity_tags %}
{% load cache %}

{% block title %}home{% endblock %}

{% block content %}
    <div class="span3"></div>
    <div class="span6">
        <h3 id="recent_title">Recent Additions</h3>
        <div id="recent_books_carousel" class="carousel slide">
        <div class="carousel-inner offset1">

               {% for book in books %}
                   {% if forloop.counter0|divisibleby:5 %}
            {% if forloop.counter0 == 0 %}<div class="active item">{% else %}</div><div class="item">{% endif %}
                   {% endif %}
                   <a href="{% url books:book_info book.slug %}"><img src="{{ book.cover_url }}" height="140" border="0"></a>
               {% endfor %}
           </div>
        </div>
        <a class="carousel-control left" href="#recent_books_carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#recent_books_carousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <div class="span3"></div>
{% endblock %}

{% block below_footer %}
    <script type="text/javascript">
      $('.carousel').carousel('pause');
    </script>
{% endblock %}