{% extends 'ebooks/_base.html' %}
{% load activity_tags %}
{% load cache %}

{% block title %}home{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h1>Recent Additions</h1>
            <ul class="thumbnails estante">
                {% for book in books %}
                    <li class="span2 animated fadeInLeft"> <a id="{{ book.slug }}" href="{% url books:book_info book.slug %}" class="thumbnail"> <img style="width: 170px;height:220px" src="{% if book.cover_url %}{{ book.cover_url }}{% else %}/images/book-no-cover.png{% endif %}" alt=""> </a> </li>
                {% endfor %}
            </ul>
            <div align="center" class="pagination">
                <ul>
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_footer %}
{% endblock %}