{% extends '_base.html' %}
{% load activity_tags %}
{% load cache %}

{% block title %}home{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block body_class %} class="home"{% endblock %}

{% block content %}
	<h3 id="recent_title">Recent Additions</h3>
    <div class="content" id="slides" style="text-align: center">
       <div class="slides_container"><div>
       
       {% for book in books %}
       {% if forloop.counter0 > 1 %}
       {% if forloop.counter0|divisibleby:5 %}
       </div>
       <div>
       {% endif %}
       {% endif %}
         <a href="{% url book_info book.1 %}"><img src="http://zzqtemp.s3.amazonaws.com/{{ book.2 }}" height="140" border="0"></a>
       {% endfor %}
       </div></div>
       <a href="#" class="prev">&lsaquo;</a>
       <a href="#" class="next">&rsaquo;</a>
       </div>
    <script type="text/javascript">
$('#slides').slides();
</script>

   {% cache 500 latest_activity_stream %}
    <div id="activity-stream">
        <h3>Activity Stream</h3>
           <ul>
           {% for activity_item in activity_stream %}
               <li>{% display_action activity_item %}</li>
           {% endfor %}
    	</ul>
    </div>
    {% endcache %}
	<h2 class="all_books">All Books</h2>
	<div id="all_books">
        {% regroup all_books by letter as letter_list %}
		<ul>
        {% for letter in letter_list %}

			{% for book in letter.list %}
			    {% if forloop.counter0 == 0 %}<h3 id="{{ letter.grouper|upper }}">{{ letter.grouper|upper }}</h3> {% endif %}<li><a href="{% url book_info book.slug %}">{{ book.title }}</a></li>
			{% endfor %}
        {% endfor %}
		</ul>
	</div>
	<ul id="alphabet">
        {% for letter in "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <li><a href="#{{ letter }}">{{ letter }}</a></li>
        {% endfor %}
	</ul>


{% endblock %}
